@import "tailwindcss";

@theme {
  /* Definimos los colores de Stitch */
  --color-primary: #0d59f2;
  --color-neon-violet: #8b5cf6;
  --color-background-dark: #050505;
  --color-background-light: #f5f6f8;
  
  /* Definimos la fuente */
  --font-display: "Space Grotesk", sans-serif;
}

/* Clases de utilidad personalizadas */
@utility neon-glow {
  box-shadow: 0 0 15px rgba(139, 92, 246, 0.5), 0 0 30px rgba(139, 92, 246, 0.2);
}

@utility glass-header {
  background: rgba(5, 5, 5, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

body {
  background-color: var(--color-background-dark);
  color: white;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
